html, body, #app {
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.dark {
    color: #dadada;
    background: #1c2022;
    min-height: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px;

}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar .link {
    margin-right: 30px;

}

.post-container {
    /* background: #dfdede; */
    border-radius: 6px; 
    padding: 3px;
    margin: 3px;
}

.post-container * {
    padding: 3px;
}

.comment-container {
    background: #dfdede;
    border-radius: 6px; 
    padding: 3px;
    margin: 3px;
}

li {
    list-style-type: none;
}

.btn-clr {
    background-color: rgba(0,0,0,0);
    border: none;
    font-size: 24px;
}

.link {
    text-decoration: none;
    font-size: 24px;
}

.user-link {
    
}

ol {
    padding: 0;
    list-style-type: none;
}

a {
    color: red;
}

/* p { 
    margin: 0;
} */

h4 {
    margin: 0;
}